<!-- Footer -->
  <footer id="main-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h2>Home Savi</h2>
          <ul>
            <li> <a href="http://blog.homesavi.com">Blog</a> </li>
            <li> <a href="http://blog.homesavi.com/can-i-buy-a-home-without-an-agent/">Can I Buy A Home Without An Agent?</a> </li>
            <li> <a href="http://blog.homesavi.com/how-to-win-a-bidding-war/">How to Win a Bidding War</a> </li>
            <li> <a href="http://blog.homesavi.com/why-online-estimates-are-good-but-can-also-be-misleading/">Why Online Estimates Are Good But Can Be Misleading</a> </li>
          </ul>
        </div>

        <div class="col-md-3">
          <h2>Company</h2>
          <ul>
            <li>
              <a href="https://www.homesavi.com/our-company">Our Company</a>
            </li>
            <li>
              <a href="https://www.homesavi.com/our-partners">Our Partners</a>
            </li>
            <li>
              <a href="https://www.homesavi.com/our-team">Our Team</a>
            </li>
            <li>
              <a href="https://www.homesavi.com/careers">Careers</a>
            </li>
          </ul>

          <p>
            <i class="fa fa-phone"></i> 805-845-8864
          </p>
          <p>
            <i class="fa fa-home"></i> 224 Anacapa St #2A<br>
            <i class="fa fa-home" style="visibility:hidden"></i> Santa Barbara, CA 93101
          </p>
        </div>

        <div class="footer-community col-md-3 pull-right">
          <h2>Community</h2>
          <ul>
            <li>
              <a href="http://facebook.com/homesavi" title="Facebook"> <i class="fa fa-facebook"></i> </a>
            </li>
            <li>
              <a href="http://twitter.com/gethomesavi" title="Twitter"> <i class="fa fa-twitter"></i> </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/company/home-savi" title="Linked In"> <i class="fa fa-linkedin"></i> </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="backmatter">
        <p class="pull-right"><a href="https://www.homesavi.com/privacy-statement">Privacy Statement</a> &bull; <a href="https://www.homesavi.com/tos">Terms of Service</a></p>
        <p>&copy; 2017 Home Savi, Inc. All rights reserved.</p>
      </div>
      <div class="disclaimers">
        Disclaimer: Communications between you and Home Savi are protected by our Privacy Policy but not by the attorney-client privilege or as work product. Home Savi provides access to independent attorneys and self-help services at your specific direction. We are not a real estate agent, broker, or a substitute for a real estate agent or real estate broker. We cannot provide any kind of advice, explanation, opinion, or recommendation about possible legal rights, remedies, defenses, options, selection of forms or strategies. Your access to the website is subject to our Terms of Use.
      </div>
    </div>
  </footer>