<footer id="main-footer">
    <div class="container-fluid black-footer-container">
      <div class="row">
        <div class="col-md-3">
          <h2>Home Savi</h2>
          <ul>
            <li> <a href="https://blog.homesavi.com">Blog</a> </li>
            <li> <a href="https://blog.homesavi.com/can-i-represent-myself-when-buying-a-home/">Can I represent myself when buying a home? Spoiler alert: Yes!</a> </li>
            <li> <a href="http://blog.homesavi.com/how-to-win-a-bidding-war/">How to win a bidding war: 5 tips to give you a distinct edge</a> </li>
            <li> <a href="https://blog.homesavi.com/why-online-estimates-are-good-but-can-also-be-misleading/">Why online home value estimates are good, but can be misleading: 5 things that throw off online models</a> </li>
          </ul>
        </div>

        <div class="col-md-3">
          <h2></h2>
          <p>
            <i class="fa fa-home"></i> 224 Anacapa St #2A<br>
            <i class="fa fa-home" style="visibility:hidden"></i> Santa Barbara, CA 93101
          </p>
        </div>

        <div class="footer-community col-md-3 pull-right">
          <h2>Community</h2>
          <ul>
            <li>
              <a href="https://facebook.com/homesavi" title="Facebook" target="_blank"> <i class="fa fa-facebook"></i> </a>
            </li>

            <li>
              <a href="https://twitter.com/gethomesavi" title="Twitter" target="_blank"> <i class="fa fa-twitter"></i> </a>
            </li>

            <li>
              <a href="https://www.instagram.com/homesavi" title="Instagram" target="_blank"> <i class="fa fa-instagram"></i> </a>
            </li>

            <li>
              <a href="https://www.linkedin.com/company/home-savi" title="Linked In"> <i class="fa fa-linkedin"></i> </a>
            </li>

            <li>
              <a href="https://www.pinterest.com/homesavi" title="Pinterest" target="_blank"> <i class="fa fa-pinterest-p"></i> </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="backmatter">
        <p class="pull-right">
          <a href="/privacy-statement">Privacy Statement</a>
          &middot;
          <a href="/tos">Terms of Service</a>
          &middot;
          <a href="mailto:support@homesavi.com">Contact Us</a>
        </p>

        <p>&copy; 2017 Home Savi, Inc. All rights reserved.</p>
      </div>

      <div class="disclaimers">
         Disclaimer: Communications between you and Home Savi are protected by our Privacy Policy. Home Savi may provide access to independent real estate agents and self-help services at your specific direction. We are not a real estate agent, broker, or a substitute for a real estate agent or real estate broker. Communication with Home Savi should not be considered any kind of advice, explanation, opinion, or recommendation about possible legal rights, remedies, defenses, options, selection of forms or strategies. Your access to the website is subject to our Terms of Use.
      </div>
    </div>
  </footer>