<body class="blog home-template">
  <div class="navbar-wrapper">
    <div class="container">
      <nav class="navbar navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><span class="sr-only">Toggle navigation</span></button> <a class="navbar-brand" href="https://www.homesavi.com" data-ember-transition="/dashboard">Home Savi</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav session-signed-out">
              <li>
                <a href="http://blog.homesavi.com">Blog</a>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="https://www.homesavi.com/about">About</a>
                <ul class="dropdown-menu" role="menu">
                  <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="https://www.homesavi.com/our-company">Our Company</a>
                  </li>
                  <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="https://www.homesavi.com/our-team">Our Team</a>
                  </li>
                  <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="https://www.homesavi.com/careers">Careers</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>

<div class="green-feature">
  <div class="search-feature feature">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h1>Knowledge Base and Support</h1>

        <form action="/search" method="get">
          <div class="input">
            <input type="text" name="q" class="form-control" placeholder= "Search our Knowledge Base">
          </div> 

          <div class="button">
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>