<main id="content" class="content clearfix container" role="main">
  <div class="row">
    <div id="articles" class="col-md-8">
        <article class="post">
  <header class="post-header">
    <h2 class="post-title"><a href="https://blog.homesavi.com/how-parents-can-help-in-the-home-buying-process/">4 ways parents can help in the home buying process</a></h2>
  </header>
  <a href="https://blog.homesavi.com/how-parents-can-help-in-the-home-buying-process/" title="4 ways parents can help in the home buying process">
    <section class="post-image" style="background-image:url(https://blog.homesavi.com/content/images/2016/11/lifelinecallpexels.jpg)"></section>
  </a>

  <section class="post-excerpt">
    <p>You can play a big part in helping finance your child’s first home purchase Key takeaways:         Gift your child and his/her spouse up to $56,000 tax-free   Co-sign your child’s mortgage to help them afford a more expensive home   Save your child thousands in interest by offering<a class="read-more" href="https://blog.homesavi.com/how-parents-can-help-in-the-home-buying-process/">&hellip; Read more &raquo;</a></p>
  </section>

  <footer class="post-meta">
    <a href="/author/avi-dalal/">Avi Dalal</a>
    <time class="post-date" datetime="2017-02-12">12 February 2017</time>
  </footer>
</article>

<article class="post">
  <header class="post-header">
    <h2 class="post-title"><a href="https://blog.homesavi.com/what-to-expect-as-a-home-savi-user/">What to expect as a Home Savi user</a></h2>
  </header>

  <a href="https://blog.homesavi.com/what-to-expect-as-a-home-savi-user/" title="What to expect as a Home Savi user">
    <section class="post-image" style="background-image:url(https://blog.homesavi.com/content/images/2016/11/laptop-user-pexels.jpg)"></section>
  </a>

  <section class="post-excerpt">
    <p>Everything that comes with DIY home buying explained Key takeaways:         Maintain a good working relationship with the listing agent, but know that you'll be doing your own work—the listing agent's job is to represent their client, the seller   Be proactive, stay organized and utilize of all of the information<a class="read-more" href="https://blog.homesavi.com/what-to-expect-as-a-home-savi-user/">&hellip; Read more &raquo;</a></p>
  </section>

  <footer class="post-meta">
    
    <a href="/author/avi-dalal/">Avi Dalal</a>
    
    <time class="post-date" datetime="2017-02-07">07 February 2017</time>
  </footer>
</article>
<article class="post">
  <header class="post-header">
    <h2 class="post-title"><a href="https://blog.homesavi.com/how-do-i-pick-the-best-place-to-live/">How do I pick a place to live? Tips to considerably narrow your search</a></h2>
  </header>

  <a href="https://blog.homesavi.com/how-do-i-pick-the-best-place-to-live/" title="How do I pick a place to live? Tips to considerably narrow your search">
    <section class="post-image" style="background-image:url(https://blog.homesavi.com/content/images/2016/07/AdobeStock_76080174.jpeg)"></section>
  </a>

  <section class="post-excerpt">
    <p>Tips that will help you decide which home to buy Key takeaways:         Make a list of why you’re looking to purchase a home and prioritize your needs   Determine a budget for your purchase and take overlooked costs into account   To decide on a neighborhood, look at daily commute times,<a class="read-more" href="https://blog.homesavi.com/how-do-i-pick-the-best-place-to-live/">&hellip; Read more &raquo;</a></p>
  </section>

  <footer class="post-meta">
    
    <a href="/author/avi-dalal/">Avi Dalal</a>
    
    <time class="post-date" datetime="2017-02-05">05 February 2017</time>
  </footer>
</article>
<article class="post">
  <header class="post-header">
    <h2 class="post-title"><a href="https://blog.homesavi.com/why-online-estimates-are-good-but-can-also-be-misleading/">Why online home value estimates are good, but can be misleading: 5 things that throw off online models</a></h2>
  </header>

  <a href="https://blog.homesavi.com/why-online-estimates-are-good-but-can-also-be-misleading/" title="Why online home value estimates are good, but can be misleading: 5 things that throw off online models">
    <section class="post-image" style="background-image:url(https://farm9.staticflickr.com/8292/7512877940_2720e3be12_c.jpg)"></section>
  </a>

  <section class="post-excerpt">
    <p>Why you should be careful using online resources to gauge a home’s value Key takeaways:         It’s a great idea to use online resources as a guide, but do not strictly follow what you find online—it's not always accurate   View several properties yourself and come up with your<a class="read-more" href="https://blog.homesavi.com/why-online-estimates-are-good-but-can-also-be-misleading/">&hellip; Read more &raquo;</a></p>
  </section>

  <footer class="post-meta">
    
    <a href="/author/avi-dalal/">Avi Dalal</a>
    
    <time class="post-date" datetime="2017-02-05">05 February 2017</time>
  </footer>
</article>
<article class="post">
  <header class="post-header">
    <h2 class="post-title"><a href="https://blog.homesavi.com/5-tips-for-buying-a-second-home/">5 tips for buying a second home</a></h2>
  </header>

  <a href="https://blog.homesavi.com/5-tips-for-buying-a-second-home/" title="5 tips for buying a second home">
    <section class="post-image" style="background-image:url(https://blog.homesavi.com/content/images/2017/01/large-home-residential-house-architecture-53610.jpeg)"></section>
  </a>

  <section class="post-excerpt">
    <p>When one home is not enough, here's how to make a smart second purchase Key takeaways:         If you plan to live there for over half of the year, make it your primary residence   Remember, your second home can appreciate and lead to higher-than-expected costs   Because you've bought a home before,<a class="read-more" href="https://blog.homesavi.com/5-tips-for-buying-a-second-home/">&hellip; Read more &raquo;</a></p>
  </section>

  <footer class="post-meta">
    
    <a href="/author/avi-dalal/">Avi Dalal</a>
    
    <time class="post-date" datetime="2017-02-01">01 February 2017</time>
  </footer>
</article>
<article class="post">
  <header class="post-header">
    <h2 class="post-title"><a href="https://blog.homesavi.com/how-to-decide-on-an-offer-price/">How to decide on an offer price</a></h2>
  </header>

  <a href="https://blog.homesavi.com/how-to-decide-on-an-offer-price/" title="How to decide on an offer price">
    <section class="post-image" style="background-image:url(https://blog.homesavi.com/content/images/2016/07/AdobeStock_77504165.jpeg)"></section>
  </a>

  <section class="post-excerpt">
    <p>Ensuring that your offer price is both realistic and competitive Key takeaways:         Your offer price should always reflect the true market value of the home you're looking to buy, yet stand out from those of other offers   Comparing prices of similar listings and sales can help you determine an offer<a class="read-more" href="https://blog.homesavi.com/how-to-decide-on-an-offer-price/">&hellip; Read more &raquo;</a></p>
  </section>

  <footer class="post-meta">
    
    <a href="/author/avi-dalal/">Avi Dalal</a>
    
    <time class="post-date" datetime="2017-01-26">26 January 2017</time>
  </footer>
</article>
<article class="post">
  <header class="post-header">
    <h2 class="post-title"><a href="https://blog.homesavi.com/getting-pre-approved/">Should I get pre-approved? 4 reasons it&#x27;s a no-brainer</a></h2>
  </header>

  <a href="https://blog.homesavi.com/getting-pre-approved/" title="Should I get pre-approved? 4 reasons it&#x27;s a no-brainer">
    <section class="post-image" style="background-image:url(https://blog.homesavi.com/content/images/2016/07/shouldigetpreapproved.jpeg)"></section>
  </a>

  <section class="post-excerpt">
    <p>The many advantages of being pre-approved Key takeaways:         Getting pre-approved for a mortgage helps you set a budget and also shows sellers that you’re serious about purchasing a home   However, getting pre-approved too many times can have a negative effect on your credit score, so avoid shopping around for<a class="read-more" href="https://blog.homesavi.com/getting-pre-approved/">&hellip; Read more &raquo;</a></p>
  </section>

  <footer class="post-meta">
    
    <a href="/author/avi-dalal/">Avi Dalal</a>
    
    <time class="post-date" datetime="2017-01-20">20 January 2017</time>
  </footer>
</article>
<article class="post">
  <header class="post-header">
    <h2 class="post-title"><a href="https://blog.homesavi.com/5-ways-to-write-an-outstanding-sweetheart-letter/">5 ways to write an outstanding sweetheart letter</a></h2>
  </header>

  <a href="https://blog.homesavi.com/5-ways-to-write-an-outstanding-sweetheart-letter/" title="5 ways to write an outstanding sweetheart letter">
    <section class="post-image" style="background-image:url(https://blog.homesavi.com/content/images/2017/01/pexels-photo-170781.jpeg)"></section>
  </a>

  <section class="post-excerpt">
    <p>Learn the ins and outs of winning over your seller with a striking personal appeal Key takeaways:         You fell in love with the home—now you'll need to make the seller fall in love with you   If there are multiple offers on the seller's table, your letter can make the<a class="read-more" href="https://blog.homesavi.com/5-ways-to-write-an-outstanding-sweetheart-letter/">&hellip; Read more &raquo;</a></p>
  </section>

  <footer class="post-meta">
    
    <a href="/author/avi-dalal/">Avi Dalal</a>
    
    <time class="post-date" datetime="2017-01-18">18 January 2017</time>
  </footer>
</article>
<article class="post">
  <header class="post-header">
    <h2 class="post-title"><a href="https://blog.homesavi.com/why-should-i-use-home-savi/">Why use Home Savi? DIY home buying finally made easy</a></h2>
  </header>

  <a href="https://blog.homesavi.com/why-should-i-use-home-savi/" title="Why use Home Savi? DIY home buying finally made easy">
    <section class="post-image" style="background-image:url(https://blog.homesavi.com/content/images/2016/07/Why-Use-Home-Savi_v3.png)"></section>
  </a>

  <section class="post-excerpt">
    <p>A different way to buy for a new generation of homebuyers Key takeaways:         Our simple step-by-step process lets you create and submit home offers online   You get to keep 100% of the commission that would otherwise go to your buyer's agent   We give you the information and support you need<a class="read-more" href="https://blog.homesavi.com/why-should-i-use-home-savi/">&hellip; Read more &raquo;</a></p>
  </section>

  <footer class="post-meta">
    
    <a href="/author/avi-dalal/">Avi Dalal</a>
    
    <time class="post-date" datetime="2017-01-16">16 January 2017</time>
  </footer>
</article>
<article class="post">
  <header class="post-header">
    <h2 class="post-title"><a href="https://blog.homesavi.com/how-to-win-a-bidding-war/">How to win a bidding war: 5 tips to give you a distinct edge</a></h2>
  </header>

  <a href="https://blog.homesavi.com/how-to-win-a-bidding-war/" title="How to win a bidding war: 5 tips to give you a distinct edge">
    <section class="post-image" style="background-image:url(https://blog.homesavi.com/content/images/2015/12/hs_fb_winningbid.png)"></section>
  </a>

  <section class="post-excerpt">
    <p>Make sure your dream home doesn’t slip away Key takeaways:         Increasing your offer price isn’t the only way to stand out   Know when to walk away—just because you can buy it doesn’t mean you should   If it comes down to price, Home Savi can help!    It’<a class="read-more" href="https://blog.homesavi.com/how-to-win-a-bidding-war/">&hellip; Read more &raquo;</a></p>
  </section>

  <footer class="post-meta">
    
    <a href="/author/avi-dalal/">Avi Dalal</a>
    
    <time class="post-date" datetime="2017-01-10">10 January 2017</time>
  </footer>
</article>

<nav class="pagination" role="navigation">
    <span class="page-number">Page 1 of 2</span>
        <a class="older-posts" href="https://blog.homesavi.com/page/2/">Older Posts <span aria-hidden="true">&rarr;</span></a>
</nav>

    </div>

    <div id="sidebar" class="col-md-4">
      <div class="sidebox social clearfix">
  <ul>
    <li>
      <a href="http://twitter.com/gethomesavi" target="_blank" class="social-item tw">
        <i class="fa fa-twitter"></i>
      </a>
    </li>

    <li>
      <a href="http://facebook.com/homesavi" target="_blank" class="social-item github">
        <i class="fa fa-facebook"></i>
      </a>
    </li>

    <li>
      <a href="https://www.linkedin.com/company/home-savi" class="social-item" title="Linked In" target="_blank">
        <i class="fa fa-linkedin"></i>
      </a>
    </li>

    <li>
      <a href="http://homesavi.com" target="_blank" class="social-item home">
        <i class="fa fa-home"></i>
      </a>
    </li>

    <li>
      <a href="/rss" target="_blank" class="social-item rss">
        <i class="fa fa-rss"></i>
      </a>
    </li>
  </ul>
</div>

<div class="box sidebox about">
  <h2 class="sidebox-title">About</h2>
  <div class="sidebox-content">
    <p>Home Savi replaces the need for a buyer’s agent by giving you the tools to offer, close and save on your home purchase. </p>
  </div>
</div>

<div class="box sidebox">
  <div class="sidebox-title">What is Home Savi?</div>
  <div class="sidebox-content">
    <br>
    <iframe width="360" height="200" src="https://www.youtube.com/embed/x3d9Q74JROI" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<div class="box sidebox articles">
  <div class="sidebox-title">Popular Articles</div>
  <div class="sidebox-content loading">
    <ul>
      <li><a href="http://blog.homesavi.com/can-i-buy-a-home-without-an-agent/">Can I buy a home without an agent?</a></li>
      <li><a href="http://blog.homesavi.com/how-to-win-a-bidding-war/">How to win a bidding war</a></li>
      <li><a href="http://blog.homesavi.com/negotiation-tips/">How to make your offer stand out</a></li>
    </ul>
  </div>
</div>

<div class="box sidebox articles latest-articles">
  <div class="sidebox-title">Latest Articles</div>
    <div class="sidebox-content loading">
    <ul>
      <li><a href="https://blog.homesavi.com/what-to-expect-as-a-home-savi-user">What to expect as a Home Savi user</a></li>
      <li><a href="https://blog.homesavi.com/how-do-i-pick-the-best-place-to-live/">How do I pick a place to live? Tips to considerably narrow your search</a></li>
      <li><a href="https://blog.homesavi.com/how-to-decide-on-an-offer-price/">How to decide on an offer price</a></li>
    </ul>
  </div>
</main>